.SideBar {
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(60, 60, 60);
}