.TopBar {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    background-color: rgb(40, 40, 40);
}

.BackButton {
    position: absolute;
    left: 0.5rem;
}

.SideBarButton {
    position: absolute;
    right: 0.5rem;
}

@media (max-width: 1000px) {
    .SideBarButton {
        display: none;
        overflow: hidden;
    }
}