.MangaEntry {
    width: 170px;
    height: 260px;

    display: flex;
    position: relative;
}

.MangaEntryButton {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.MangaCover {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    height: auto;
    max-height: 80%;

    object-fit: contain;
    border-radius: 4px;
}

.DeleteMangaButton {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}