.TopBar {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.BackButton {
    position: absolute;
    left: 0.5rem;
}

.ChapterSelect {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}