html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #ccc;
        background-color: #1a1a1a;
    }

    .resource {
        color: #ccc;
        background-color: #161616;
    }

    .resource:hover {
        border: 1px solid #bbb;
    }
}