.Library {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    /* padding-left: 1rem;
    padding-right: 1rem; */
    margin: 0rem;
}

.MangaEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    max-width: 240px;
    max-height: 360px;
}

.MangaCover {
    width: 80%;
    height: auto;
    max-height: 80%;
    object-fit: contain; 
    border-radius: 4px;
}