.ChapterReader{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.ChapterReader .TopBar {
    flex: 0 0 auto;
    width: 100%;
}

.ChapterReader .PageReader {
    flex: 1 1 auto;
    width: 100%;
    overflow: auto;
}